/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "../primevue/tailwind.css";
@import "tailwindcss/utilities";

@import "./base.css";

@layer components {
	.main-gradient {
		@apply text-white bg-gradient-to-r from-fuchsia-600 via-red-500 to-orange-400;
	}

	label.required {
		@apply after:text-red-600 after:content-['*'] after:ml-1;
	}
}

.shadow-card {
	/* box-shadow: -5px -5px 9px #ffffff73, 5px 5px 7px #5e687949; */
	/* box-shadow: -5px -5px 9px #ffffff, 5px 5px 9px rgba(94, 104, 121, 0.2); */
	box-shadow: 11px 12.5px 10px rgba(0, 0, 0, 0.005),
		88px 100px 80px rgba(0, 0, 0, 0.01);
	/* filter: drop-shadow(-5px -5px 9px #ffffff73)
		drop-shadow(5px 5px 7px #5e687949); */
}

.swiper-bullet {
	width: 20px !important;
	height: 3px !important;
	border-radius: 5px !important;
	background-color: #ffffff !important;
}

.p-password-input {
	width: 100% !important;
}

.p-dialog {
	border: none;
}
.p-dialog-header {
	padding: 1rem;
}
.p-dialog-header .p-dialog-title {
	font-size: 1rem;
}

.p-drawer {
	border: none;
}
.p-drawer-header {
	padding: 0;
	margin-left: auto;
}
.p-drawer-header .p-button:focus-visible {
	outline: none;
}
.p-drawer-content {
	padding: 0 0.8rem 0 0.8rem;
}

.p-tieredmenu {
	min-width: 8rem;
}

.p-speeddial .p-button {
	border: none;
}
/* .p-speeddial:not(.dial-open) {
	height: 4rem;
	overflow: hidden;
	pointer-events: auto;
}
.p-speeddial-list {
	display: none;
}
.p-speeddial.dial-open .p-speeddial-list {
	display: flex;
	pointer-events: auto;
}
.p-speeddial:not(.dial-open) {
	z-index: 99;
} */

/* Default height when SpeedDial is closed */
.p-speeddial:not(.dial-open) {
	height: 40px;
	overflow: hidden;
	pointer-events: auto;
}
.p-speeddial:not(.dial-open) .p-speeddial-button {
	padding: 20px 0;
}
.p-speeddial-list {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: visibility 0.2s, opacity 0.2s ease-in-out;
}
.p-speeddial.dial-open .p-speeddial-list {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}

.p-menu {
	min-width: max-content;
}

.p-toast-detail {
	font-size: 0.8rem;
}

.p-inputtext,
.p-textarea {
	padding-top: 12px;
	padding-bottom: 12px;
}
.p-select {
	padding-top: 3px;
	padding-bottom: 3px;
}
.p-inputtext,
.p-select,
.p-textarea {
	border: none;
	background: #efefef;
}
.p-inputtext:hover,
.p-select:hover,
.p-textarea:hover {
	background: #e2e2e2;
}
.p-inputtext:focus,
.p-select:focus,
.p-textarea:focus {
	background: #e2e2e2;
}

.dark .p-inputtext,
.dark .p-select,
.dark .p-textarea {
	background: black;
}
.dark .p-inputtext:hover,
.dark .p-select:hover,
.dark .p-textarea:hover {
	background: rgba(0, 0, 0, 0.5);
}
.dark .p-inputtext:focus,
.dark .p-select:hover,
.dark .p-textarea:focus {
	background: rgba(0, 0, 0, 0.5);
}

.rg-btn-container-foreground {
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	color: #efefef !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	/* border: 1px solid rgba(255, 255, 255, 0.3) !important;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3) important; */
}

@keyframes jump {
	0% {
		-webkit-transform: translate3d(0, 20%, 0);
		transform: translate3d(0, 20%, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.jump {
	-webkit-transform-origin: 0;
	transform-origin: 0;
	-webkit-animation: jump 0.5s linear alternate infinite;
	animation: jump 0.5s linear alternate infinite;
}

/* 
Fade (Scroll top, Saved Item Tabs)
*/
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s ease;
}

.fade-enter-to {
	opacity: 0;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

/* 
List (Card List)
*/
.list-enter-from {
	opacity: 0;
	transform: translateX(30px);
}

.list-leave-to {
	opacity: 0;
	transform: translateY(30px);
}

.list-move,
.list-enter-active,
.list-leave-active {
	transition: all 0.5s ease-in-out;
}

/* 
Slide (Web pages, Tabs)
*/
.slide-enter-active,
.slide-leave-active {
	transition: opacity 0.3s, transform 0.3s;
}

.slide-enter-from,
.slide-leave-to {
	opacity: 0;
	transform: translateX(-10%);
}

/* 
Row (Table rows)
*/
.row-move,
.row-enter-active,
.row-leave-active {
	transition: all 0.3s ease;
}

.row-enter-from,
.row-leave-to {
	opacity: 0;
	transform: translateX(-30px);
}

.row-leave-active {
	position: absolute;
}
