/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "../primevue/tailwind.css";
@import "tailwindcss/utilities";

@import "./base.css";

@layer components {
	.main-gradient {
		@apply text-white bg-gradient-to-r from-fuchsia-600 via-red-500 to-orange-400;
	}

	label.required {
		@apply after:text-red-600 after:content-['*'] after:ml-1;
	}
}

.shadow-card {
	/* box-shadow: -5px -5px 9px #ffffff73, 5px 5px 7px #5e687949; */
	/* box-shadow: -5px -5px 9px #ffffff, 5px 5px 9px rgba(94, 104, 121, 0.2); */
	box-shadow: 11px 12.5px 10px rgba(0, 0, 0, 0.005),
		88px 100px 80px rgba(0, 0, 0, 0.01);
	/* filter: drop-shadow(-5px -5px 9px #ffffff73)
		drop-shadow(5px 5px 7px #5e687949); */
}

.swiper-bullet {
	width: 30px !important;
	height: 6px !important;
	border-radius: 5px !important;
	background-color: #ffffff !important;
}

.p-password-input {
	width: 100% !important;
}

.p-dialog-header {
	padding: 1rem;
}
.p-dialog-header .p-dialog-title {
	font-size: 1rem;
}

.p-drawer-header {
	padding: 0;
	margin-left: auto;
}

.p-drawer-header .p-button:focus-visible {
	outline: none;
}

.p-drawer-content {
	padding: 0 0.8rem 0 0.8rem;
}

.p-tieredmenu {
	min-width: 8rem;
}

.rg-btn-container-foreground {
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	color: #efefef !important;
	border: 1px solid rgba(255, 255, 255, 0.3) !important;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3) important;
}

@keyframes jump {
	0% {
		-webkit-transform: translate3d(0, 20%, 0);
		transform: translate3d(0, 20%, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.jump {
	-webkit-transform-origin: 0;
	transform-origin: 0;
	-webkit-animation: jump 0.5s linear alternate infinite;
	animation: jump 0.5s linear alternate infinite;
}

/* 
Fade (Scroll top, Saved Item Tabs)
*/
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s ease;
}

.fade-enter-to {
	opacity: 0;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

/* 
List (Card List)
*/
.list-enter-from {
	opacity: 0;
	transform: translateX(30px);
}

.list-leave-to {
	opacity: 0;
	transform: translateY(30px);
}

.list-move,
.list-enter-active,
.list-leave-active {
	transition: all 0.5s ease-in-out;
}

/* 
Slide (Web pages, Tabs)
*/
.slide-enter-active,
.slide-leave-active {
	transition: opacity 0.3s, transform 0.3s;
}

.slide-enter-from,
.slide-leave-to {
	opacity: 0;
	transform: translateX(-10%);
}

/* 
Row (Table rows)
*/
.row-move,
.row-enter-active,
.row-leave-active {
	transition: all 0.3s ease;
}

.row-enter-from,
.row-leave-to {
	opacity: 0;
	transform: translateX(-30px);
}

.row-leave-active {
	position: absolute;
}
